body{
font-family:Segoe UI;
margin:0;
height:100vh;
display:flex;
flex-direction:column;
align-items:center;

background: linear-gradient(135deg,#ff9a9e,#a18cd1,#fad0c4,#fbc2eb);
background-size:400% 400%;
animation:bgMove 12s infinite alternate;
}

@keyframes bgMove{
0%{background-position:left;}
100%{background-position:right;}
}

h1{
color:white;
margin-top:30px;
}

.box{
background:rgba(255,255,255,0.2);
backdrop-filter:blur(15px);
padding:25px;
border-radius:15px;
margin-top:20px;
width:350px;
box-shadow:0 15px 40px rgba(0,0,0,0.3);
color:white;
}

input,select{
padding:8px;
margin:5px;
border-radius:6px;
border:none;
}

button{
padding:10px 15px;
border:none;
border-radius:8px;
background:#333;
color:white;
cursor:pointer;
}

ul{padding:0;}

li{
list-style:none;
margin:10px 0;
padding:10px;
border-radius:8px;
display:flex;
justify-content:space-between;
align-items:center;
background:white;
color:black;
}

.low{border-left:6px solid green;}
.medium{border-left:6px solid orange;}
.high{border-left:6px solid red;}

.done{
text-decoration:line-through;
opacity:0.6;
}

.progress{
background:#ddd;
height:10px;
border-radius:10px;
margin:10px 0;
}

#bar{
height:10px;
width:0%;
background:#4caf50;
border-radius:10px;
}
